In [3]:
%matplotlib inline 

import pandas as pd
import numpy as np

datafile = "anova-hw-1.csv"

dataframe = pd.read_csv("anova-hw-1.csv")
display(dataframe)

   Mystery  Biography  Novels  Non-Fiction
0        1          1      28           13
1       20         15       4           25
2       13          7       5            9
3        0         10      21           18
4        3         14      25           10
5        5          5      11           25
6       13          3      21           21
7        7         12       3            6
8       14          2      12           24
9        7          6       2           18

In [25]:
import scipy.stats as stats

mystery_mean = np.mean(dataframe.Mystery)
print("mean of Mystery is:" + str(mystery_mean))

biography_mean = np.mean(dataframe.Biography)
print("mean of Biography is:" + str(biography_mean))

novels_mean = np.mean(dataframe.Novels)
print("mean of Novels is:" + str(novels_mean))

NonFiction_mean = np.mean(dataframe['Non-Fiction'])
print("mean of Non-Fiction is:" + str(NonFiction_mean))

mean_frame = dataframe.mean()
display(mean_frame)
total_mean = mean_frame.mean()
print("The overall mean is=" + str(total_mean))

stats.f_oneway(dataframe['Mystery'], dataframe['Biography'], dataframe['Novels'], dataframe['Non-Fiction'])

mean of Mystery is:8.3
mean of Biography is:7.5
mean of Novels is:13.2
mean of Non-Fiction is:16.9

Mystery         8.3
Biography       7.5
Novels         13.2
Non-Fiction    16.9
dtype: float64

The overall mean is=11.475

F_onewayResult(statistic=3.648479474205832, pvalue=0.021441572478582339)

# Calculate the ANOVA mannualy

- Firstly, we need to calculate the variance between groups($SS_b$) :$SS_b = \sum{N_k(\bar{X_k}-\bar{X_0})^2}$
- The next one is the variance total ($SS_t$): $SS_T = (\sum{X^2}) - N\bar{X_0}^2$

To be convenient, all equations needed will be outlined below:

$$ F = \frac{MS_b}{MS_w} $$
$$ MS_b = \frac{SS_b}{df_b} $$
$$ MS_w = \frac{SS_w}{df_w} $$
$$ SS_w=SS_t-SS_b $$
$$ SS_T = (\sum{X^2}) - N\bar{X_0}^2 $$
$$ SS_b = \sum{N_k(\bar{X_k}-\bar{X_0})^2} $$
$$ df_w = N - k, df_b = K -1 $$

N is the number of cases in datasets, K is the number of groups.

In [16]:
N = 40
N_k = 10
k = 4
df_w = N - k
df_b = k - 1
mean_frame = dataframe.mean()
total_mean = mean_frame.mean()

ss_t = 0
for i, row in dataframe.iterrows():
    for j, column in row.iteritems():
        ss_t += pow(column, 2)

ss_t = ss_t - N*pow(total_mean, 2)

print("ss_t = " + str(ss_t))

ss_b = 0

for i, row in mean_frame.iteritems():
    ss_b += N_k*pow(row - total_mean, 2)

print("ss_b = " + str(ss_b))

ss_w = ss_t - ss_b
print("ss_w = " + str(ss_w))

ms_b = ss_b / df_b
ms_w = ss_w / df_w

F = ms_b / ms_w

print("F=" + str(F))

ss_t = 2499.975
ss_b = 582.875
ss_w = 1917.1
F=3.64847947421