In [23]:
%matplotlib inline 

import pandas as pd
import numpy as np

datafile = "anova-hw-1.csv"

dataframe = pd.read_csv("anova-hw-1.csv")
display(dataframe)

   Mystery  Biography  Novels  Non-Fiction
0        1          1      28           13
1       20         15       4           25
2       13          7       5            9
3        0         10      21           18
4        3         14      25           10
5        5          5      11           25
6       13          3      21           21
7        7         12       3            6
8       14          2      12           24
9        7          6       2           18

In [25]:
import scipy.stats as stats

mystery_mean = np.mean(dataframe.Mystery)
print("mean of Mystery is:" + str(mystery_mean))

biography_mean = np.mean(dataframe.Biography)
print("mean of Biography is:" + str(biography_mean))

novels_mean = np.mean(dataframe.Novels)
print("mean of Novels is:" + str(novels_mean))

NonFiction_mean = np.mean(dataframe['Non-Fiction'])
print("mean of Non-Fiction is:" + str(NonFiction_mean))

mean_frame = dataframe.mean()
display(mean_frame)
total_mean = mean_frame.mean()
print("The overall mean is=" + str(total_mean))

stats.f_oneway(dataframe['Mystery'], dataframe['Biography'], dataframe['Novels'], dataframe['Non-Fiction'])

mean of Mystery is:8.3
mean of Biography is:7.5
mean of Novels is:13.2
mean of Non-Fiction is:16.9

Mystery         8.3
Biography       7.5
Novels         13.2
Non-Fiction    16.9
dtype: float64

The overall mean is=11.475

F_onewayResult(statistic=3.648479474205832, pvalue=0.021441572478582339)